$color-dark: #191a19;
$color-dark-semi-transparent: #191a19c3;
$color-light: #f2f2f2;
$color-white: #fff;
$color-active: #8dbb8d;
$color-transparent: #00000000;

// // Override default variables before the import
$body-bg: $color-dark;
$body-color: $color-white;
$success: $color-active;

// // Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

::-webkit-scrollbar {
  display: none;
}

.form-control,
.input-group-text {
  background-color: $body-bg;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($success, 0.5) !important;
  }
}

$focus-colors: (
  success: rgba($success, 0.5),
  danger: rgba($danger, 0.5),
  warning: rgba($warning, 0.5),
);

@each $name, $color in $focus-colors {
  .focus-#{$name} {
    &:focus {
      box-shadow: 0 0 0 0.25rem $color !important;
    }
  }
}

.barcode-canvas {
  box-shadow: 0 0 0.25rem 0.25rem $color-white;
  background-color: $color-white;
}

.header-name {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: rgba($dark-bg-subtle-dark, 0.75);
  text-shadow: 0.05rem 0.1rem 0.15rem $success, 0 0 0 $black,
    0.05rem 0.1rem 0.15rem $success;
  font-size: 1.8rem;
  margin-bottom: auto;

  > a {
    text-decoration: none;
    color: inherit;
  }
}
