:root {
  --color-dark: #191a19;
  --color-dark-semi-transparent: #191a19c3;
  --color-disabled: #3e3f3e;
  --color-medium: #565756;
  --color-light: #f2f2f2;
  --color-white: #fff;
  --color-active: #8dbb8d;
  --color-transparent: #00000000;
  --label-button-padding: 0.5rem;
  --border-radius: 0.25rem;
  --font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:focus {
  opacity: 1;
}

:focus-visible {
  outline-color: var(--color-active);
  outline-style: solid;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark);
  color: var(--color-light);
  margin-bottom: 7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  display: flex;
  margin: 0.25rem;
  padding: 0.5rem;
  border-color: var(--color-medium);
  border-style: solid;
  vertical-align: middle;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
}
input:focus {
  box-shadow: 0 0 0.25rem 0rem var(--color-light);
}
input:disabled {
  background-color: var(--color-disabled);
  color: var(--color-light);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  background-color: var(--color-disabled);
  color: var(--color-light);
  padding: var(--label-button-padding);
}
input[type="checkbox"] + label:hover {
  background: var(--color-medium);
}
input[type="checkbox"]:checked + label {
  background-color: var(--color-active);
  color: var(--color-dark);
}

.page-content {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  margin: auto;
  align-items: center;
  justify-items: space-between;
}

@media (min-width: 600px) {
  .fields-container {
    width: 60%;
    max-width: fit-content;
    margin: auto;
  }
  .page-content {
    padding: 0 1rem 1rem 1rem;
  }
}

.barcode-canvas {
  padding: 1rem;
  width: fit-content;
  position: relative;
  margin: auto;
  box-shadow: 0 0 0.25rem 0.25rem var(--color-white);
  background-color: var(--color-white);
}
.barcode-canvas-invisible {
  display: none;
}
.hidden-buttons {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
}
.hidden-button {
  background-color: var(--color-white);
  border-style: none;
  padding: 0;
  margin: 0.1rem;
}
.hidden-button:hover {
  cursor: pointer;
}
@media (min-width: 600px) {
  .hidden-button-invisible {
    opacity: 0;
  }
  .hidden-button-invisible:focus {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .hidden-buttons {
    position: relative;
  }
  .hidden-button {
    background-color: var(--color-white);
    border-style: none;
    padding: 0;
    margin: 0.1rem;
    min-width: 3rem;
    min-height: 3rem;
  }
}

.icon-button {
  padding: 0.1rem;
  color: var(--color-medium);
}
.icon-button:hover {
  color: var(--color-dark);
}
.icon-button:focus {
  outline-color: var(--color-active);
  outline-style: solid;
  opacity: 1;
}
.icon-button:active {
  cursor: pointer;
  color: var(--color-active);
}

.length-input {
  min-width: 1rem;
  text-align: center;
}

.info-message {
  display: flex;
  align-items: center;
}

.info-icon {
  padding-right: 1rem;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-active);
}
.header-name {
  color: var(--color-dark-semi-transparent);
  text-shadow: 0.05rem 0.1rem 0.15rem var(--color-active), 0 0 0 #000,
    0.05rem 0.1rem 0.15rem var(--color-active);
  font-size: 1.8rem;
  margin-left: 1.5rem;
}
.header-logo {
  color: var(--color-dark);
  margin-left: auto;
  margin-right: 1.5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-active);
  color: var(--color-dark);
  text-align: center;
  font-size: 0.75rem;
  padding-inline: 0.5rem;
}

.privacy-policy {
  padding: 0.5rem;
  font-size: 1rem;
}

.type-options-container {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  margin: auto;
  justify-content: center;
}

.type-options {
  list-style-type: none;
  display: inline-block;
  padding: 0 0 0 0;
}

.type-options li {
  text-align: center;
  display: inline;
  position: relative;
}

.type-options input[type="radio"] {
  opacity: 0;
  display: none;
}

.type-options input[type="radio"]:checked + label {
  background: var(--color-active);
  color: var(--color-dark);
  cursor: default;
  pointer-events: none;
}

.type-options label {
  padding: var(--label-button-padding);
  cursor: pointer;
  background: var(--color-disabled);
}

.type-options label:hover {
  background: var(--color-medium);
}

.data-fields {
  margin: 0 1rem 0 0;
}
