$color-dark: #191a19;
$color-off-dark: #2b3035;
$color-white: #fff;
$color-active: #8dbb8d;
$color-active-dark: #396039;

@use "sass:color";
@use "bootstrap/scss/bootstrap" as bs with (
  $body-bg: $color-dark,
  $body-tertiary-bg: $color-off-dark,
  $body-color: $color-white,
  $success: $color-active,
  $primary: $color-active-dark,
);

::-webkit-scrollbar {
  display: none;
}

.data-text {
  background-color: $color-dark;

  &:focus {
    box-shadow: 0 0 0 0.25rem color.change($color-active, $alpha: 0.5) !important;
  }
}

$focus-colors: (
  success: color.change($color-active, $alpha: 0.5),
  danger: color.change(bs.$danger, $alpha: 0.5),
  warning: color.change(bs.$warning, $alpha: 0.5),
);

@each $name, $color in $focus-colors {
  .focus-#{$name} {
    &:focus {
      box-shadow: 0 0 0 0.25rem $color !important;
    }
  }
}

.barcode-canvas {
  box-shadow: 0 0 0.25rem 0.25rem $color-white;
  background-color: $color-white;
}

.header-name {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: color.change(bs.$dark-bg-subtle-dark, $alpha: 0.75);
  text-shadow: 0.05rem 0.1rem 0.15rem $color-active, 0 0 0 bs.$black,
    0.05rem 0.1rem 0.15rem $color-active;
  font-size: 1.8rem;
  margin-bottom: auto;

  > a {
    text-decoration: none;
    color: inherit;
  }
}

.form-control {
  border-color: $color-active;
  color: $color-active;

  &::file-selector-button {
    background-color: $color-off-dark;
  }
}

.tooltip {
  --bs-tooltip-color: $color-active;
}
